# NodeJS stuff
node_modules
package-lock.json

# The Token
token.js
token.txt

# Files created by bot
starboard
confession_counter

# Role Assignment script (as it contains sensitive Discord IDs)
role-assign.js
